
<div class="background-image">
    <div class="password-recovery" *ngIf="isVisible">
        <h1>Password Recovery</h1>
        <form class="recovery-form" [formGroup]="profileForm" (ngSubmit)="resetPassword()">
            <div class="email-form">
                <label for="email">Enter the email of your account:</label>
                <input pInputText id="email" autocomplete="email" type="email" formControlName="email">
            </div>
            <div class="disclaimer">
                <span>If there is an account with your email, you will be sent an email</span>
            </div>
            
            <div class="code-button">
                <p-button label="Send Code" type="submit" [rounded]="true"></p-button>
            </div>
        </form>
    </div>

    <div class="password-reset" *ngIf="!isVisible">
        <h1>Change Password</h1>
        <form class="recovery-form" [formGroup]="passwordForm" (ngSubmit)="getPassword()" >
            <div class="email-form" *ngIf="!gotCode">
                <label for="email">Enter The Code From Your Email: </label>
                <input pInputText id="number" type="number" formControlName="confirmCode">
            </div>

            <div class="email-form" *ngIf="gotCode">
                <label for="password">New Password:</label>
                <input pInputText type="password" autocomplete="password" formControlName="password">
            </div>
            
            <div class="email-form" *ngIf="gotCode">
                <label for="password">Confirm New Password:</label>
                <input pInputText type="password" autocomplete="password" formControlName="confirmPassword">
            </div>

            <div class="code-button">
                <p-button label="Confirm" type="submit" [rounded]="true"></p-button>
            </div>
        </form>
    </div>
</div>