.background-image {
    background-image: url('/assets/dolphins.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    border-bottom: 1px solid grey;
    text-align: center;
}

.password-recovery, .password-reset {
    position: absolute;
    background-color: white;
    width: 25vw;
    height: 45vh;
    border-radius: 12px;
    padding: 1%;
}

.email-form {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.email-form label {
    padding: 0% 0%;
}

.disclaimer {
    display: flex;
    text-align: center;        
    padding: 0% 10%;
}

input {
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

.code-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

label {
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 2%;
}


@media only screen and (max-width: 1300px) {
    .password-recovery, .password-reset {
        width: 22vw;
    }
    label {
        font-size: 18px;
    }
    .password-recovery, .password-reset {
        width: 35vw;
    }
    .email-form {
        padding: 2% 5%;
    }
}

@media only screen and (max-width: 1000px) {
    .password-recovery, .password-reset  {
        width: 40vw;
    }
    label {
        font-size: 18px;
    }
}
@media only screen and (max-width: 800px) {
    .password-recovery, .password-reset  {
        width: 45vw;
    }
    label {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 150%;
    }
    .password-recovery, .password-reset {
        width: 55vw;
    }
}
@media only screen and (max-width: 550px) {
    .password-recovery, .password-reset {
        width: 75vw;
    }
}