<div>
    <img src="assets/dolphins.png" alt="">

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>

        <div class="login-form">
            <label for="email">Email</label>
            <input id="email" autocomplete="email" type="email" formControlName="email" required>
        </div>

        <div class="login-form">
            <label for="password">Password</label>
            <input id="password" autocomplete="password" type="password" formControlName="password" required>
        </div>

        <button type="submit">Login →</button>

        <p>Need an acoount?<a href="\signup"> Sign up</a></p>
    </form>
</div>
