<div class="login-page">
    <div class="background-image">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h1>Login</h1>

            <div class="login-form">
                <label for="email">Email</label>
                <input pInputText id="email" autocomplete="email" type="email" formControlName="email"> 
            </div>

            <div class="login-form">
                <label for="password">Password</label>
                <input pInputText id="password" autocomplete="password" type="password" formControlName="password" required>
            </div>

            <p-button type="submit" [rounded]="true">Login →</p-button>

            <p>Need an account? <a href="\signup">Sign up</a></p>
            <a href="\recovery" class="recovery">Forgot Your Password? </a>
        </form>

        <div class="display-error" *ngIf="errorMessage !== ''">
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>
