<div class="signup-page">
    <div class="background-image">

        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h1>Sign Up</h1>

            <div class="login-form">
                <label for="email">Email</label>
                <input id="email" autocomplete="email" type="email" formControlName="email">
            </div>

            <div class="login-form">
                <label for="password">Password</label>
                <input id="password" autocomplete="password" type="password" formControlName="password">
            </div>

            <div class="login-form">
                <label for="password">Confirm Password</label>
                <input id="confirm-password" autocomplete="password" type="password" formControlName="confirmPassword">
            </div>

            <button type="submit">Sign Up →</button>

            <p>Already have an account?<a href="login"> Login</a></p>
        </form>

        <div class="display-error" *ngIf="errorMessage !== ''">
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>
