
<h1>Regisered Swimmers</h1>
<div class="form">
    <p-table [value]="userData" >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="parent.M.lastName.S" style="width:20%">Parent Name<p-sortIcon field="parent.M.lastName.S"></p-sortIcon></th>
                <th pSortableColumn="swimmer.M.lastName.S" style="width:20%">Swimmer Name<p-sortIcon field="swimmer.M.lastName.S"></p-sortIcon></th>
                <th pSortableColumn="cost.S" style="width:5%">Price <p-sortIcon field="cost.S"></p-sortIcon></th>
                <th pSortableColumn="swimmer.M.birthDate.S" style="width:20%">Birthday<p-sortIcon field="swimmer.M.birthDate.S"></p-sortIcon></th>
                <th pSortableColumn="ageGroup.S" style="width:10%">Age Group <p-sortIcon field="ageGroup.S"></p-sortIcon></th>
                <th pSortableColumn="hasPaid.BOOL" style="width:20%">Paid <p-sortIcon field="hasPaid.BOOL"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.parent.M.firstName.S + ' ' + product.parent.M.lastName.S}}</td>
                <td>{{product.swimmer.M.firstName.S + ' ' + product.swimmer.M.lastName.S}}</td>
                <td>${{product.cost.S}}</td>
                <td>{{product.swimmer.M.birthDate.S}}</td>
                <td>{{product.ageGroup.S}}</td>
                <td><input type="checkbox" [checked]="product.hasPaid.BOOL" (change)="onCheckboxChange(product)"></td>
            </tr>
        </ng-template>
    </p-table>
</div>
