<h1>Statistics</h1>
<h3>Total: {{totalSwimmers}}</h3>
<h3>8 & under: {{under8}}</h3>
<h3>9-10: {{nine}}</h3>
<h3>11-12: {{eleven}}</h3>
<h3>13+: {{thirteen}}</h3>

<h1>Regisered Swimmers</h1>
<div class="form">
    <p-table [value]="userData">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="parent.M.lastName.S" style="width:25%" pFrozenColumn>Parent Name<p-sortIcon field="parent.M.lastName.S"></p-sortIcon></th>
                <th pSortableColumn="swimmer.M.lastName.S" style="width:24%">Swimmer Name<p-sortIcon field="swimmer.M.lastName.S"></p-sortIcon></th>
                <th pSortableColumn="cost.S" style="width:5%">Price <p-sortIcon field="cost.S"></p-sortIcon></th>
                <th pSortableColumn="swimmer.M.birthDate.S" style="width:20%">Birthday<p-sortIcon field="swimmer.M.birthDate.S"></p-sortIcon></th>
                <th pSortableColumn="ageGroup.S" style="width:18%">Age Group <p-sortIcon field="ageGroup.S"></p-sortIcon></th>
                <th pSortableColumn="hasPaid.BOOL" style="width:20%">Paid <p-sortIcon field="hasPaid.BOOL"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.parent.M.firstName.S + ' ' + product.parent.M.lastName.S}}</td>
                <td>{{product.swimmer.M.firstName.S + ' ' + product.swimmer.M.lastName.S}}</td>
                <td>${{product.cost.S}}</td>
                <td>{{product.swimmer.M.birthDate.S}}</td>
                <td>{{product.ageGroup.S}}</td>
                <td><input type="checkbox" [checked]="product.hasPaid.BOOL" (change)="onCheckboxChange(product)"></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<h1>Emergency Contact Info</h1>
<div class="form">
    <p-table [value]="userData" >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="swimmer.M.lastName.S" style="width:20%">Swimmer Name<p-sortIcon field="swimmer.M.lastName.S"></p-sortIcon></th>
                <th pSortableColumn="parent.M.lastName.S" style="width:20%">Parent Name<p-sortIcon field="parent.M.lastName.S"></p-sortIcon></th>
                <th pSortableColumn="parent.M.phoneNumber.N" style="width:15%">Phone Number <p-sortIcon field="parent.M.phoneNumber.N"></p-sortIcon></th>
                <th pSortableColumn="parent.M.email.S" style="width:20%">Email<p-sortIcon field="parent.M.email.S"></p-sortIcon></th>
                <th pSortableColumn="eContact.M.lastName.S" style="width:20%">Emergency Name <p-sortIcon field="eContact.M.lastName.S"></p-sortIcon></th>
                <th pSortableColumn="eContact.M.phoneNumber.N" style="width:15%">Phone Number <p-sortIcon field="eContact.M.phoneNumber.N"></p-sortIcon></th>
                <th pSortableColumn="eContact.M.email.S" style="width:15%">Email <p-sortIcon field="eContact.M.email.S"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.swimmer.M.firstName.S + ' ' + product.swimmer.M.lastName.S}}</td>
                <td>{{product.parent.M.firstName.S + ' ' + product.parent.M.lastName.S}}</td>
                <td>{{product.parent.M.phoneNumber.N}}</td>
                <td>{{product.parent.M.email.S}}</td>
                <td>{{product.eContact.M.lastName.S + ' ' + product.eContact.M.firstName.S}}</td>
                <td>{{product.eContact.M.phoneNumber.N}}</td>
                <td>{{product.eContact.M.email.S}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<h1>Swimmer Experience</h1>
<div class="form">
    <p-table [value]="userData">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="swimmer.M.lastName.S" style="width:20%">Swimmer Name<p-sortIcon field="swimmer.M.lastName.S"></p-sortIcon></th>
                <th pSortableColumn="swimmer.M.birthDate.S" style="width:15%">Birthday<p-sortIcon field="swimmer.M.birthDate.S"></p-sortIcon></th>
                <th pSortableColumn="experience.M.yrsOfExp.M.name.S" style="width:20%">Years Exp<p-sortIcon field="experience.M.yrsOfExp.M.name.S"></p-sortIcon></th>
                <th pSortableColumn="experience.M.canSwim.M.firstStroke.M.name.S" style="width:25%">Event 1<p-sortIcon field="experience.M.canSwim.M.firstStroke.M.name.S"></p-sortIcon></th>
                <th pSortableColumn="experience.M.canSwim.M.secondStroke.M.name.S" style="width:25%">Event 2<p-sortIcon field="experience.M.canSwim.M.secondStroke.M.name.S"></p-sortIcon></th>
                <th pSortableColumn="experience.M.canSwim.M.thirdStroke.M.name.S" style="width:25%">Event 3<p-sortIcon field="experience.M.canSwim.M.thirdStroke.M.name.S"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.swimmer.M.firstName.S + ' ' + product.swimmer.M.lastName.S}}</td>
                <td>{{product.swimmer.M.birthDate.S}}</td>
                <td *ngIf="product.experience?.M.yrsOfExp?.M">
                    {{product.experience.M.yrsOfExp.M.name.S}} years</td>
                <td *ngIf="product.experience?.M?.swimTimes?.M?.firstStroke?.M">
                    {{product.experience.M.swimTimes.M.firstStroke.M.name.S + ' ' + product.experience.M.swimTimes.M.firstTime.S}}</td>
                <td *ngIf="product.experience?.M?.swimTimes?.M?.secondStroke?.M">
                    {{product.experience.M.swimTimes.M.secondStroke.M.name.S + ' ' + product.experience.M.swimTimes.M.secondTime.S}}</td>
                <td *ngIf="product.experience?.M?.swimTimes?.M?.thirdStroke?.M">
                    {{product.experience.M.swimTimes.M.thirdStroke.M.name.S + ' ' + product.experience.M.swimTimes.M.thirdTime.S}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

