.form {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 2%;
    margin-top: 0%;
    box-shadow: 0 2px 8px black;
    border: 1px solid #f0f0f0;
    width: auto;
    overflow: auto;
    height: 70vh;
}
h1 {
    margin: 2%;
    margin-bottom: 0%;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

input {
    scale: 1.75;
}