.background-image {
    background-image: url('/assets/dolphins.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-wrapper {
    background-color: white;
    width: 40vw;
    height: 65vh;
    box-shadow: 0 2px 32px black;
    border-radius: 8px;
    padding: 1%;
}

form h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid grey;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 4%  0 2%;
}

.form-group label {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.form-group input {
    width: 100%;
    height: 24px;
    border-radius: 8px;
    border: 2px solid grey;
}

.names, .contact {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.send-btn {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 2%;
    margin: 2%;
}

textarea {
    resize: none;
    font-size: 120%;
    font-weight: 100;
    width: auto;
    height: 24vh;
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    border: 2px solid grey;
}

button {
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 12px;
    font-size: 18px;
    margin: 10px;
    margin-left: 88%;
}
button:hover {
    background-color: darkblue;
    cursor: pointer;
}

@media only screen and (max-width: 1550px){
    .names, .contact {
        margin-right: 30%;
    }
    button {
        margin-left: 85%;
    }
}

@media only screen and (max-width: 1090px){

    .names, .contact {
        margin-right: 15%;
    }

    .form-group label {
        font-size: 16px;
    }
    
    .form-wrapper {
        width: 60%;
        height: 60%;
    }
}

@media only screen and (max-width: 700px){

    textarea {
        font-size: 80%;
    }
    button {
        margin-left: 80%;
    }
}