<div class="contact-wrapper">
    <div class="background-image">

        <div class="form-wrapper">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <h1>Contact Us</h1>

                <div class="names">
                    <div class="form-group">
                        <label for="name">First Name*</label>
                        <input type="name" autocomplete="first-name" formControlName="firstName">
                    </div>

                    <div class="form-group">
                        <label for="name">Last Name*</label>
                        <input type="name" autocomplete="family-name" formControlName="lastName">
                    </div>
                </div>

                <div class="contact">
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" autocomplete="email" formControlName="email">
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="phone" autocomplete="phone" formControlName="phone">
                    </div>
                </div>

                <div class="message">
                    <div class="form-group">
                        <label for="message">Message*</label>
                        <textarea name="" id="" cols="30" rows="10" formControlName="message"></textarea>
                    </div>
                </div>

                <div class="send-btn">
                    <p-button (onClick)="onSubmit()" label="Send" [loading]="loading" [rounded]="true"></p-button>
                </div>

            </form>
        </div>
    </div>
</div>
