.background-image {
    background-image: url('/assets/swimmer.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.white-box {
    margin: 45px;
    width: 100%;
    background-color: white;

    display: grid;
    grid-template-rows: 92% 8%;
    grid-template-columns: 90% 10%;
}

.add-button {
    grid-row: 2;
    grid-column: 2;
    margin: 10px;
}
button {
    background-color: darkgrey;
    color: white;
    padding: 4px;
    border-radius: 6px;
    font-size: 22px;
}
button:hover {
    cursor: pointer;
    background-color: grey;
}