<div class="register-page">
    <div class="background-image">
        <div class="white-box">
            <div class="form-box">
                <div class="swimmer-form" *ngFor="let formGroup of formGroups; let i = index">
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup, i)"
                    [class.slide-in]="addFormAnimation" [class.slide-out]="removeFormAnimation[i]">
                        <div class="swimmer-info">

                            <h2>Swimmer Information</h2>
                            
                            <div class="form-group">
                                <label for="first-name">First Name*</label>
                                <input id="first-name" autocomplete="first-name" type="text" formControlName="firstName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="last-name">Last Name*</label>
                                <input id="last-name" autocomplete="family-name" type="text" formControlName="lastName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="preferred-name">Preferred Name</label>
                                <input id="preferred-name" autocomplete="first-name" type="text" formControlName="preferredName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="birth-date">Date of Birth*</label>
                                <input id="birth-date" autocomplete="bday" type="date" formControlName="birthDate" [readonly]="isSumbitted(i)">
                            </div>
                        </div>

                        <div class="parent-info">

                            <h2>Parent Information</h2>

                            <div class="form-group">
                                <label for="first-name">First Name*</label>
                                <input id="first-name" autocomplete="first-name" type="text" formControlName="pFirstName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="last-name">Last Name*</label>
                                <input id="last-name" autocomplete="family-name" type="text" formControlName="pLastName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="phone-number">Phone Number*</label>
                                <input id="phone-number" autocomplete="tel" type="tel" formControlName="pPhoneNumber" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="street-address">Email*</label>
                                <input id="street-address" autocomplete="email" type="email" formControlName="pEmail" [readonly]="isSumbitted(i)">
                            </div>
                        </div>

                        <div class="emergency-contact-info">

                            <h2>Emergency Contact Information</h2>

                            <div class="form-group">
                                <label for="first-name">First Name*</label>
                                <input id="first-name" autocomplete="first-name" type="text" formControlName="eFirstName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="last-name">Last Name*</label>
                                <input id="last-name" autocomplete="family-name" type="text" formControlName="eLastName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="phone-number">Phone Number*</label>
                                <input id="phone-number" autocomplete="tel" type="tel" formControlName="ePhoneNumber" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="street-address">Email*</label>
                                <input id="street-address" autocomplete="email" type="email" formControlName="eEmail" [readonly]="isSumbitted(i)">
                            </div>
                        </div>

                        <div class="form-buttons">
                            <p-button type="submit" (click)="registerField(i)" [disabled]="registeredOrNot(i)" [rounded]="true">{{saveRegisterText(i)}}</p-button>
                            <p-button type="button" class="cancel-button" (click)="cancelEditBtn(i)" severity="secondary"
                             *ngIf="cancelButtonText[i] !== 'hidden'" [rounded]="true">{{cancelEditText(i)}}</p-button>
                        </div>
                    </form>

                    <div *ngIf="registerButtonClicked && registerBtnIndex === i" class="registration-form">
                        <form class="registration" [formGroup]="formGroup">
                            <h1>Registration</h1>
                            <div class="register-group">
                                <label for="yrsOfExp">Years Of Experience:</label>
                                <p-dropdown [options]="experience" optionLabel="name" 
                                [showClear]="true" placeholder="--Select--" formControlName="yrsOfExp"></p-dropdown>
                            </div>

                            <label for="strokes">Select Strokes You Can Swim:</label>
                            <div class="swim-strokes">
                                <p-checkbox formControlName="freestyle" value="freestyle" inputId="freestyle"></p-checkbox>
                                <label for="freestyle">Freestyle</label>
                            
                                <p-checkbox formControlName="backstroke" value="backstroke" inputId="backstroke"></p-checkbox>
                                <label for="breaststroke">Backstroke</label>

                                <p-checkbox formControlName="breaststroke" value="breaststroke" inputId="breaststroke"></p-checkbox>
                                <label for="breaststroke">Breaststroke</label>
                                
                                <p-checkbox formControlName="butterfly" value="butterfly" inputId="butterfly"></p-checkbox>
                                <label for="butterfly">Butterfly</label>
                                
                            </div>

                            <label>Top 3 Best Events</label>
                            <div class="best-strokes">
                                <p-dropdown [options]="events" optionLabel="name" 
                                [showClear]="true" placeholder="--Select--" formControlName="firstStroke"></p-dropdown>
                                <input type="text" id="timer" pInputText formcontrolName="firstTime" placeholder="Best Time"/>
                                <br>
                                <p-dropdown [options]="events" optionLabel="name" 
                                [showClear]="true" placeholder="--Select--" formControlName="secondStroke"></p-dropdown>
                                <input type="text" id="timer" pInputText formcontrolName="secondTime" placeholder="Best Time"/>
                                <br>
                                <p-dropdown [options]="events" optionLabel="name" 
                                [showClear]="true" placeholder="--Select--" formControlName="thirdStroke"></p-dropdown>
                                <input type="text" id="timer" pInputText formcontrolName="thirdTime" placeholder="Best Time"/>
                            </div>

                            <div class="ageAndCost">
                                <label>Age Group:</label>
                                <label>{{ formGroups[i].get('ageGroup')?.value }}</label>
                            </div>

                            <div class="ageAndCost">
                                <label>Cost:</label>
                                <label>${{calcCost(formGroups, i)}}</label>
                            </div>

                            <div class="register-buttons">
                                <p-button type="submit" (click)="registerForm()" [rounded]="true">Register</p-button>
                                <p-button type="button" id="cancel-button"(click)="registerCancelbtn()" 
                                [rounded]="true" severity="secondary">Cancel</p-button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="add-button">
                    <p-button [disabled]="isOpenForm" (click)="addForm()" [rounded]="true">Add Swimmer</p-button>
                </div>
            </div>
        </div>
    </div>
</div>