.background-image {
    background-image: url('/assets/swimmer.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.white-box {
    margin: 50px;
    width: 100%;
    background-color: white;
}

.add-button {
    margin: 10px;
    background-color: darkgrey;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 18px;
    margin: 10px;
}
.add-button:hover {
    cursor: pointer;
    background-color: grey;
}