<div class="register-page">
    <div class="background-image">
        <div class="white-box">
            <div class="form-box">
                <div class="swimmer-form" *ngFor="let formGroup of formGroups; let i = index">
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup, i)">
                        <div class="swimmer-info">

                            <h2>Swimmer Information</h2>
                            
                            <div class="form-group">
                                <label for="first-name">First Name*</label>
                                <input id="first-name" autocomplete="first-name" type="text" formControlName="firstName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="last-name">Last Name*</label>
                                <input id="last-name" autocomplete="family-name" type="text" formControlName="lastName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="preferred-name">Preferred Name</label>
                                <input id="preferred-name" autocomplete="first-name" type="text" formControlName="preferredName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="birth-date">Date of Birth*</label>
                                <input id="birth-date" autocomplete="bday" type="date" formControlName="birthDate" [readonly]="isSumbitted(i)">
                            </div>
                        </div>

                        <div class="parent-info">

                            <h2>Parent Information</h2>

                            <div class="form-group">
                                <label for="first-name">First Name*</label>
                                <input id="first-name" autocomplete="first-name" type="text" formControlName="pFirstName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="last-name">Last Name*</label>
                                <input id="last-name" autocomplete="family-name" type="text" formControlName="pLastName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="phone-number">Phone Number*</label>
                                <input id="phone-number" autocomplete="tel" type="tel" formControlName="pPhoneNumber" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="street-address">Email*</label>
                                <input id="street-address" autocomplete="email" type="email" formControlName="pEmail" [readonly]="isSumbitted(i)">
                            </div>
                        </div>

                        <div class="emergency-contact-info">

                            <h2>Emergency Contact Information</h2>

                            <div class="form-group">
                                <label for="first-name">First Name*</label>
                                <input id="first-name" autocomplete="first-name" type="text" formControlName="eFirstName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="last-name">Last Name*</label>
                                <input id="last-name" autocomplete="family-name" type="text" formControlName="eLastName" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="phone-number">Phone Number*</label>
                                <input id="phone-number" autocomplete="tel" type="tel" formControlName="ePhoneNumber" [readonly]="isSumbitted(i)">
                            </div>

                            <div class="form-group">
                                <label for="street-address">Email*</label>
                                <input id="street-address" autocomplete="email" type="email" formControlName="eEmail" [readonly]="isSumbitted(i)">
                            </div>
                        </div>

                        <div class="form-buttons">
                            <button type="submit">{{saveRegisterText(i)}}</button>
                            <button type="button" class="cancel-button" (click)="cancelEditBtn(i)">{{cancelEditText(i)}}</button>
                        </div>
                    </form>
                </div>

                <div class="add-button">
                    <button [disabled]="isOpenForm" (click)="addForm()">Add Swimmer</button>
                </div>
            </div>
        </div>
    </div>
</div>