.wrapper {
    background-image: url('/assets/dolphins.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.verify {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 8px black;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 16px;
}

span {
    text-align: center;
}

.verify h2 {
    color: black;
    border-bottom: 2px solid grey;
    text-align: center;
}

.verify-input {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}


.verify-input input::-webkit-inner-spin-button,
.verify-input input::-webkit-outer-spin-button {
    display: none;
}

p-button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10%;
}

@media only screen and (max-width: 1000px) {
    .verify {
        padding: 2%;
    }
}
