<div class="home-page-wrapper">
    <div class="home-header">
        <h1>Welcome To The JPST Dolphins</h1>
    </div>
    <div class="page-content-wrapper">
        <div class="info-wrapper">
            <div class="about">
                <h2>About the team</h2>
                <span>The Jefferson Park Swim Team was founded in 1972.</span>
                <span>We are part of the Mid-Atlantic Summer Swim League, which includes teams from the Eastern Panhandle, Maryland, Pennsylvania.</span> 
                <span>Our season starts the first week after memorial day is out and lasts until the end of July. Practices are held nightly, Monday through Friday.</span> 
            </div>
        </div>

        <div class="info-wrapper">
            <div class="ages-section">
                <h2>All Children Ages 6 to 18 Are Welcome To Join The Dolphins!</h2>
                <span>Birthdays are calculated based off of June 1st</span>
                <span>The Swim Team Fee is $135 if you Register Before June 1st, it is $150 after. There is a $10 Discount For Every Swimmer You Register After The First Swimmer.*</span>
                <p>*For Example, if you register before June first, your first swimmer will be $135, and your second swimmer will be $125.</p> 
                <span>Online Registration Opens April TBD and closes after the first week of june</span>
            </div>
        </div>

        <div class="info-wrapper">
            <div class="practice-schedule">
                <h2>Practice schedule</h2>
                <span>Practice begins the week after memorial day and is Monday-Thursday</span>
                <span class="times">8 & Under: 5:15-6:15</span>
                <span class="times">9-10: 6:15-7:15</span>
                <span class="times">11-12: 7:15-8:15</span>
                <span class="times">13 & Up: 8:15-9:30</span>
            </div>
        </div>

        <div class="info-wrapper">
            <div class="meet-schedule">
                <h2>Meet Schedule</h2>
                <span>The Meet Schedule will be announced early may.</span>
            </div>
        </div>
    </div>

        <div class="footer">
            <h2>Have a Question?</h2>
            <a href="\contact">Contact Us</a>
        </div>
</div>
