.home-header {
    background-color: rgb(48, 48, 243);
    padding: 0.5%;
}

.home-header h1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 300%;
    margin: 0.5% 0% 0.5% 17%;
    text-shadow: 0 2px 32px black;
}

p {
    margin-top: 0;
}

.page-content-wrapper {
    margin-left: 15%;
}

.info-wrapper {
    width: 81%;
    height: fit-content;
    padding: 1% 2%;
    margin: 2%;
    box-shadow: 0 2px 32px black;
    border-radius: 4px;
    background-color: white;
}

.ages-section {
    display: flex;
    flex-direction: column;
}

.ages-section p {
    margin-left: 4%;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

span {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 2%;
    margin-bottom: 1%;
    line-height: 125%;
}

.practice-schedule span.times {
    margin-left: 4%;
}

.footer {
    background-image: url('/assets/watertexturefooter.png');
    background-size: cover;
    width: auto;
    padding: 16px;
    text-align: center;
    padding-bottom: 4%;
}

.footer h2 {
    color: white;
    font-size: 225%;
    font-weight: bold;
    letter-spacing: 0.20rem;
    margin-bottom: 2.5%;
}

.footer a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 900;
    background-color: white;
    color: black;
    padding: 15px 30px 13px;
    border-radius: 25px;
    font-size: 18px;
    margin: 10px;
}

a {
    text-decoration: none;
    color:darkblue;
}
a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 1200px) {
    .home-header h1 {
        font-size: 200%;
        margin-left: 10%;
    }

    .page-content-wrapper {
        margin-left: 8%;
    }

    span {
        font-size: 16px;
    }

    h2 {
        font-size: 110%;
    }

    .ages-section p {
        font-size: 14px;
    }
 }

 @media only screen and (max-width: 900px) {
    .home-header h1 {
        font-size: 150%;
        margin-left: 2%;
    }

    .footer h2 {
        font-size: 175%;
    }
    
    .footer a {
        padding: 8px 16px 6px;
        border-radius: 25px;
        font-size: 18px;
    }

    .info-wrapper {
        margin-bottom: 20px;
    }

    .ages-section p {
        font-size: 12px;
    }

    span {
        margin-bottom: 5%;
    }
 }