<div class="home-page-wrapper">
    <div class="home-header">
        <h1>Welcome To The JPST Dolphins</h1>
    </div>
    <div class="page-content-wrapper">
        <div class="info-wrapper">
            <div class="about">
                <h2>About the team</h2>
                <span>The Jefferson Park Swim Team was founded in 1972.</span>
                <span>We are part of the Mid-Atlantic Summer Swim League, which includes teams from the Eastern Panhandle, Maryland, Pennsylvania.</span> 
                <span>Our season starts the first week after memorial day is out and lasts until the end of July. Practices are held nightly, Monday through Friday.</span> 
            </div>
        </div>

        <div class="info-wrapper">
            <div class="ages-section">
                <h2>All Children Ages 6 to 18 Are Welcome To Join The Dolphins!</h2>
                <span>Age Groups are calculated based off of June 1st</span>
                <span>The Swim Team Fee is $150 after. There is a $10 family Discount For Every Swimmer You Register After The First Swimmer up to the fourth swimmer*</span>
                <p>*After the fourth it is a flat rate of $120 per swimmer</p> 
                <span>Online Registration Opens Monday, March 18th and closes after the first week of june</span>
                <p>To register a swimmer, go to the <a href="/register-swimmers">register swimmers</a> tab and create a new swimmer</p>
            </div>
        </div>

        <div class="info-wrapper">
            <div class="practice-schedule">
                <h2>Practice schedule</h2>
                <span>Practice begins the week after memorial day and is Monday-Thursday</span>
                <span class="times">8 & Under: 5:15pm-6:00pm</span>
                <span class="times">9-10: 6:00pm-7:00pm</span>
                <span class="times">11-12: 7:00pm-8:00pm</span>
                <span class="times">13 & Up: 8:00pm-9:00pm</span>
                <h2>Week of June 24th</h2>
                <span class="times">13 & Up: 8:00am-9:00am</span>
                <span class="times">11-12: 9:00am-10:00am</span>
                <span class="times">9-10: 10:00am-11:00am</span>
                <span class="times">8 & Under: 11:00am-11:45am</span>
            </div>
        </div>

        <div class="info-wrapper">
            <div class="meet-schedule">
                <h2>Meet Schedule</h2>
                <span>The Meet Schedule will be announced early may.</span>
            </div>
        </div>
    </div>

        <div class="footer">
            <h2>Have a Question?</h2>
            <a href="\contact">Contact Us</a>
        </div>
</div>
